/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */

@import url('./base.css');
@import url('./container.css');

.hw-link {
  position: absolute;
  top: 20px;
  left: 20px;
  text-decoration: none;
  font-size: 16px;
  color: #4d90fe;
  font-weight: bold;
  list-style: none;
}
